* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font: 100% arial, verdana, tahoma, sans-serif;
  color: #fff;
}

header {
  background: gray;
  padding: 10px;
  overflow: hidden;
}

header .logo {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 94%;
  font-size: 1.5em;
}

.menu-anchor {
  width: 5%;
  height: 32px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu-anchor:before {
  content: "";
  display: block;
  margin: 7px auto;
  width: 70%;
  height: 0.25em;
  background: #212121;
  box-shadow: 0 0.45em 0 0 #212121, 0 0.9em 0 0 #212121;
}

menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 220px;
  height: 100%;
  padding-top: 10px;
  background: lightgray;
  box-shadow: inset -5px -10px 10px 0 rgba(0, 0, 0, 0.3);
}

menu li a {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 10px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

menu li a:hover {
  background: #fff;
}

/*
        Aqui você esconde o menu para fora da tela 
        O valor é exatamente a largura da sidebar
    */
menu {
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/*
        Essa é a posição original do HEADER e do MAIN
    */
header {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

/*
       Com a classe menu-active na tag HTML
    */
